
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1f2937;
  font-family: 'Nanum Gothic', sans-serif;
}


body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #1f2937; /* Tailwind의 text-gray-600에 해당 */
}


.App {
  height: 100vh;
  width: 100%;
}


.Sign_up,
.Sign_in,
.map,
.planner,
.project {
  font-weight: 600;
}


.Page_container {
  padding: 0.5 rem;
  margin-bottom: 0.25rem;
}


.Page_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(75, 85, 99, 0.5);
}


.Logo {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  margin-top: 0.75rem;
}


.Logo_image {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  align-items: center;
}


.Logo_image_svg {
  width: 2rem;
  height: 2rem;
}


.Logo_text {
  font-size: 1.6rem;
  font-weight: 600;
}


.Sign_box_container {
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem;
  margin-top: 0.75rem;
}


.Sign_box_wrapper {
  display: flex;
  gap: 0.75rem;
  margin-right: 2.5rem;
}


.Sign_up,
.Sign_in {
  border-radius: 0.375rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.Sign_up:hover,
.Sign_in:hover {
  background-color: black;
  color: #e5e7eb;
}

.shadow-custom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  position: relative;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* CreatePlanner style */
.input-control {
  width: 99%;
  background-color: aliceblue;
  font-weight: 500;
  font-size: 30px;
  text-align: start;
  border-radius: 0.375rem;
}
.input {
  border-radius: 100px;
}

/* calendar custom text */
.custom-calendar .rdrCalendarWrapper {
  font-size: 1.3rem;
  color: #1f2937;
}

.custom-calendar .rdrMonthAndYearPickers select,
.custom-calendar .rdrMonthPicker select,
.custom-calendar .rdrYearPicker select {
  font-size: 1.5rem; /* Adjust dropdown font size */
}

.custom-calendar .rdrDayNumber span {
  font-size: 1.3rem; /* Adjust day number font size */
}

.custom-calendar .rdrDayToday span {
  font-size: 1rem; /* Adjust day number font size */
}

.custom-calendar .rdrWeekDay {
  font-size: 1rem; /* Adjust weekday name font size */
}

.rdrDefinedRangesWrapper {
  display: none;
}

.input-placeholder::placeholder {
  font-weight: bold; /* Make placeholder text bold */
  color: #868e96;
}

.textarea::placeholder{
  text-align: center;
}

.Corporation {
  margin-right: 20px;
}

.Photo_wrapper_1 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
